@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');

body {
    height: 100%;
    width: 100%;
}

.brandNavbar,
.navbar-toggler,
h1,
h2,
h3 {
    font-family: 'Catamaran', Helvetica, Arial, sans-serif;
}

.btn-main,
.nav-link {
    font-family: 'Lato', Helvetica, Arial, sans-serif;
}

p {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

.footer {
    font-family: 'Mulish', Helvetica, Arial, sans-serif;
}

.brandNavbar {
    color: #fdcc52;
    font-size: 1.2rem;
}

.navbar {
    background-image: url('./img/bg-pattern.png'), #7b4397;
    background-image: url("../img/bg-pattern.png"), linear-gradient(to right, #dc2430, #7b4397);
    padding: 0.5 2rem;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-link {
    color: #b8c0c7;
    text-transform: uppercase;
}

.navbar-toggler {
    color: #b8c0c7;
}

.sticky {
    background-color: #ffffff;
    background-image: none;
    z-index: 999;
}

.sticky .brandNavbar:hover {
    color: #6c757d;
    text-decoration: none;
}

.brandNavbar:hover {
    color: #ffffff;
    text-decoration: none;
}

.nav-link:hover {
    color: #ffffff;
}

.sticky .nav-link {
    color: #6c757d;
}

.sticky .nav-link:hover {
    color: #fdcc52;
}

.pageHeader {
    background: url('./img/bg-pattern.png'), #7b4397;
    background: url("../img/bg-pattern.png"), linear-gradient(to right, #dc2430, #7b4397);
    color: #ffffff;
    padding: 9.5rem 0 6.25rem 0;
    width: 100%;
}

.newAgeHeading,
.stopWaitingHeading {
    font-weight: 100;
}

.btn-main {
    background-color: inherit;
    border: 1px solid #ffffff;
    border-radius: 250px;
    font-size: 0.6rem;
    line-height: 2rem;
    padding: 0 2rem;
    transition: border 0.3s ease-in, background-color 0.3s ease-in;
}

.btn-border:hover,
.btn-main:hover {
    background-color: #fdcc52;
    border: 1px solid #fdcc52;
}

.stores img {
    height: 60px;
}

.linksFooter a {
    color: #6c757d;
}

.linksFooter a:hover {
    color: #fdcc52;
    text-decoration: none;
}

.fa-fb-bg {
    color: #3b5998;
    opacity: 0.9;
}

.fa-tw-bg {
    color: #00acee;
    opacity: 0.9;
}

.fa-gp-bg {
    color: #db4a39;
    opacity: 0.9;
}

.fa-fb-bg:hover {
    color: #3b5998;
    opacity: 1;
}

.fa-tw-bg:hover {
    color: #00acee;
    opacity: 1;
}

.fa-gp-bg:hover {
    color: #db4a39;
    opacity: 1;
}

.fa-twitter,
.fa-facebook-f,
.fa-google-plus-g {
    color: #ffffff;
}

.fa-stack {
    width: 64px;
}

.socialMediaSection,
.discoverSection {
    background: #fdcc52;
}

.discoverHeading {
    font-weight: 300;
}

.discoverSection {
    padding: 9rem 0;
}

.stopWaitingSection {
    background-image: url('./img/bg-cta.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.stopWaitingContainer {
    padding-left: 2.5rem;
    padding-bottom: 9rem;
    padding-top: 9rem;
    position: relative;
    z-index: 1;
}

.socialMediaSection {
    padding: 4.5rem 3rem;
}

.unlimitedSection {
    padding: 4rem;
}

.heart {
    color: transparent;
    text-shadow: 0 0 0 red;
}

.phoneContainer {
    margin-top: 5rem;
    max-width: 25rem;
    padding: 0 2rem;
}

.phonePositioner {
    position: relative;
}

.phonePositioner.iphone {
    padding-bottom: 200%;
}

.phone {
    background-image: url('./img/phone.png');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.screen {
    position: absolute;
    top: 11%;
    bottom: 11%;
    left: 6%;
    right: 6%;
}

.imgScreen {
    border-radius: 5px;
}

.features {
    padding-bottom: 2rem;
    padding-top: 0rem;
}

.featuresRow {
    padding-top: 7.3rem;
}

.oneFeature {
    padding-bottom: 5rem;
}

.emoji {
    font-size: 3rem;
}

@media (min-width: 992px) {
    .storeLink {
        display: inline;
    }

    .newAgeCol {
        align-items: center;
        display: flex;
        justify-content: center;
    }

    .newAgeHeading {
        text-align: left;
        padding-left: 6rem;
        padding-top: 8rem;
    }

    .phoneContainer1 {
        margin-bottom: 0;
        margin-top: 0;
        padding-right: 6rem;
        padding-top: 4rem;
    }

    .stopWaitingSection {
        padding-left: 6rem;
        padding-right: 3rem;
    }

    .phoneContainer2 {
        margin-top: 6rem;
        padding-right: 4rem;
    }

    .features {
        margin-top: 3rem;
        padding-left: 0;
        padding-top: 3rem;
    }

    .featuresRow {
        padding: 0;
    }

    .oneFeature {
        padding-bottom: 0;
    }

    .pageHeader {
        padding-top: 3rem;
    }

    .colPhone {
        padding-top: 4rem;
    }

}

@media (max-width: 992px) {
    .storeLink {
        display: block;
        margin-bottom: 1.5rem;
    }

    .brandNavbar:hover {
        text-decoration: none;
    }

    .stopWaitingSection {
        padding-left: 0rem;
    }

    .colPhone {
        padding-top: 4rem;
    }
}